@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Witaj @context.User.Identity.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Witaj gościu.</h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
